@font-face {
  font-family: "Abril Fatface";
  src: url('../fonts/AbrilFatface-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Light.ttf') format('truetype'),
    url('../fonts/Roboto-LightItalic.ttf') format('truetype'),
    url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto Slab";
  src: url('../fonts/RobotoSlab-Light.ttf') format('truetype'),
    url('../fonts/RobotoSlab-Medium.ttf') format('truetype');
}

*{
  font-family: "Abril Fatface", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
  margin: 0;
}

/*Website body*/
html, body {
  height: 100%;
}

body {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

/*Font properties for big titles and deco text*/
title {
  font-family: "Abril Fatface", cursive;
  font-weight: normal;
  font-size: 100px;
  color: #312F2F;
  text-decoration: none;
}

/*Font properties for h1 text*/
h1 {
  font-family: "Roboto Slab", serif;
  font-weight:bold;
  font-size: 30px;
  color: #88A42C;
}

/*Font properties for h2 text*/
h2 {
  font-family: "Roboto Slab", serif;
  font-weight: normal;
  font-size: 30px;
  color: #F29069
}

/*Font properties for paragraph and links*/
p, li {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #312F2F;
}

/*Font properties for links*/
a{
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #5D711E;
}

/* Style the top navigation bar */
.topnav {
  background-color: #312F2F;
  width: 100%;
  text-align: center;
}

/* Style the topnav links */
.topnav a {
  font-family: "Roboto Slab", serif;
  color: #FFFFFF;
  display: inline-block;
  padding: 14px 16px;
  margin: 0 auto;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #88A42C;
  color: #FFFFFF;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #312F2F;
  color: #FFFFFF;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #312F2F;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #FFFFFF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #88A42C
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #88A42C;
}

/*Style the content*/
.content {
  width: 70%;
  border: none;
  padding: 50px;
  margin: auto;
  text-align: left;
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  background: #312F2F;
  height: 50px;
  color: white;
}

.footer center {
  margin: 15px;
 }



